@import '~src/styles.scss';
  .slidercontainer {
    width: 100%;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    background: linear-gradient(-35deg, white 55%, rgba(79,205,196, 0.6))
  }

  #rooms {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    // scroll-snap-type: x mandatory;
    .room {
      scroll-snap-align: start;
      scroll-snap-stop: normal;
      display: flex;
      width: 100vw;
      height: 50%;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      position: relative;
      h2 {
        text-transform: uppercase;
        font-size: 1.8em;
      }

      img {
        width: 70%;
        object-fit: contain;
        position: relative;
      }
    }
  }

