<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="'/admin'">Final Show Admin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="'/admin/timetable'" routerLinkActive="active">Timetable</a>
      <a class="nav-item nav-link" [routerLink]="'/admin/users'" routerLinkActive="active">Users</a>
      <a class="nav-item nav-link" [routerLink]="'/admin/chat'" routerLinkActive="active">Chat</a>
      <a class="nav-item nav-link" [routerLink]="'/admin/notifications'" routerLinkActive="active">Notifications</a>
    </div>
  </div>
</nav>
