<div *ngFor='let event of data' class="pagina">

  <app-header back="true" title="{{event['name']}}"></app-header>

  <div class="red-square">
    <img [src]="event['icon']" [alt]="event['name']" id='eventIcon'>
  </div>
  <div class="tekst-event">
    <h1 class="subtititle">{{event['name']}}</h1>
    <p>{{event['desc']}}</p>
    <div *ngIf="event['nominees']">
      <h2 class="subtititle">Genomineerden:</h2>
      <ul class="nominees" *ngFor="let nominee of  event['nominees']">
        <li><span class="bold">{{nominee['course']}}</span> {{nominee['desc']}}</li>
      </ul>
    </div>
  </div>
  <p id="time" class="subtititle">{{displayTime(event['time'])}}</p>
</div>
