@import '~src/styles.scss';

.header {
  z-index: 10;
  height: 60px;
  position: fixed;
  width: 100%;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.09);

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .card {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }

  .body {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
      text-transform: uppercase;
      font-size: 20px;
    }

    p {
      font-size: 15px;
    }

  }

  .profile {
    margin-left: 1em;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 30px;
    }
  }
}
.docent {
  background:$pink;
}

.student {
  background:$blue;
}

.alumni {
  background:$red;
}

.bedrijf {
  background:$green;
}

// header



//desktop
@media only screen and (min-width: 769px) {
  .container{
    width: 100%- 2*8.41%;
  }
}

//mobile
@media only screen and (max-width: 769px) {
  .container{
    width: 90%;
  }

  :host-context(.red) .header {
    background: $red;
  }

  :host-context(.yellow) .header {
    background: $yellow;
  }

  :host-context(.blue) .header {
    background: $blue;
  }

  :host-context(.green) .header {
    background: $green;
  }
}
