@import '~src/styles.scss';
.yellow {
    background-color: $yellow;
    box-sizing: border-box;
}

.red {
    background-color: $red;
    box-sizing: border-box;
}

.green {
    background-color: $blue;
    color: white;
    box-sizing: border-box;
}

.notification {
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    div{
        height: 100%;
        div{

        }
        div p{
            padding: 16px 0 16px 8.41%;
            width: 100%;
            height: 100%;
        }
    }
}
.notification .red{
  color : white;

}
