
<!-- green or white header?? -->
<app-header class= "green" title="Livestream"></app-header>
<div class="page-wrap container-grid">

<div class="video-container" id="video">
   <iframe [src]="url" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
</div>
<div class="head" id="head">
   <div class="status">
     <ng-container *ngIf="live == true">
      <div class="statelive"></div>
      <p>Live</p>
     </ng-container>
     <ng-container *ngIf="live == false">
      <div class="stateoffline"></div>
      <p>Offline</p>
     </ng-container>
   </div>
   <ng-container *ngIf="live == true">
    |
    <div class="event">
      <p>{{currentActivity}}</p>
    </div>
   </ng-container>
 </div>
<div class="chat" id="chat" *ngIf='!mobile'>
   <app-livechat></app-livechat>
</div>
<div class="chat" id="chatMobile" *ngIf='mobile'>
  <app-livechat></app-livechat>
</div>



<div class="notifications">



<app-notification  [notif]=room></app-notification>


</div>

