  
#profileViewWrapper{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img{
    height: 200px;
}

h4{
    margin-top: 20px;
}

#profileViewWrapper div{
    box-shadow: 0px 3px 6px rgba(0,0,0,0.09);
    padding: 100px 300px;
}