/*
* === Colors ===
*/
$dark: #191919;
$grey: #707070;
$pink: #D8006B;
$red: rgb(216, 0, 0);
$lightgrey: #dadada;
$blue: #1497DD;
$blueOpacity: rgba(20, 151, 221, 0.397);
$pink-light: rgba(216, 0, 108, 0.432);
$blue-light: rgba(20, 151, 221, 0.5);
$gradient: linear-gradient(90deg, #009FFF 0%, #EC2F4B 100%) 0% 0% no-repeat padding-box;
/*
* === Typography ===
*/
$font-size-root:         16px;
$font-size-base:         1rem;
$font-stack:  "Helvetica Neue", Helvetica, sans-serif;
$line-height-base:       1.5;


/*
* === spacing ===
*/
$spacing: 1em;


