.conversation-room-chat-title {
  font-weight: bold;
  font-size: 18pt;
}

.conversations {
  position: absolute;
  top: 100px;
}

#defaultCanvas0 {
  display: none;
}

//mobile
@media only screen and (max-width: 768px) {
  .container.conversations{
    width: 90%;
  }
}


//desktop
@media only screen and (min-width: 769px) {
  .container.conversations{
    width: 32.64%;
    left: 8.41%;
  }
}