<app-header class="red" title="Netwerk"></app-header>
  <app-notification [notif]=room></app-notification>

<div >
  <div class="container">
    <div class="legende">
      <p class="student">student</p>
      <p class="bedrijf">bedrijf</p>
      <p class="alumni">alumni</p>
      <p class="docent">docent</p>
      <p class= "bezoeker">bezoeker/ouder</p>
    </div>
    <!-- <div class="contacts">
    <div class="leftside">
      <div class="usercontainer">
        <div class="user">
          <div class="profile">
            <img [src]="user?.photoURL || 'assets/man.svg'  " alt="" width="50px">
            <p>{{ user?.displayName }}</p>
          </div>

          </div>
        </div>
      </div>
      <div class="userscontainer"> -->
    <!-- <ul>
    <li *ngFor="let chat of userChats$ | async">
      <a [routerLink]="'rooms/' + chat.id">{{ chat.id }} - {{ chat.messages.length }} Messages </a>
    </li>
  </ul> -->
    <!-- <app-users></app-users> -->
    <!-- </div>
    </div> -->
    <!-- <app-rooms></app-rooms> -->
    <!-- <div class="logout" (click)="auth.signOut()">
         <p>logout</p>
         <div class="cross">
           <div class="bar1"></div>
           <div class="bar2"></div>
         </div> -->
    <!-- <div class="container conversations">
      <app-conversations (close)=closer></app-conversations>
    </div> -->

    <!-- </div> -->




  </div>

  <!-- <ng-template #credentials>
    {{goToLogin()}}
  </ng-template> -->
