<app-adminheader></app-adminheader>

<div class="container mt-5 mb-5">
  <div class="col message-wrapper">
      <label >Message</label>
      <textarea id="message" #message class="form-control" rows="7"></textarea>
  </div>

  <div class="col icon-wrapper mt-5">
    <label >Icon</label>
    <select class="form-control" #icon id="icon">
      <option selected value="">None</option>
      <option value="assets/icons/clock.png">Clock</option>
      <option value="assets/icons/award.png">Award</option>
      <option value="assets/icons/chat.png">Chat</option>
    </select>
  </div>

  <div class="col mt-5">
      <label >Visible in rooms</label>
  </div>

  <div class="col">
  <div class="input-group mb-3">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input class="rooms-visible" value="live stream" type="checkbox" aria-label="Checkbox for following text input">
        </div>
      </div>
      <label class="form-control">Live stream</label>
    </div>
  </div>

  <div class="col">
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input class="rooms-visible" value="chatrooms" type="checkbox" aria-label="Checkbox for following text input">
            </div>
          </div>
          <label class="form-control">Chatrooms</label>
      </div>
  </div>

  <div class="col">
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input class="rooms-visible" value="expo" type="checkbox" aria-label="Checkbox for following text input">
            </div>
          </div>
          <label class="form-control">Expo</label>
      </div>
  </div>

  <div class="col">
      <div class="input-group mb-5">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input class="rooms-visible" value="faq" type="checkbox" aria-label="Checkbox for following text input">
            </div>
          </div>
          <label class="form-control">FAQ</label>
      </div>
  </div>

  <div class="col">
      <label >Is this a permanent message? (remove all other permanent notifications first)</label>
  </div>

  <div class="col">
  <div class="input-group mb-3">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input #permanent id="permanent" type="checkbox" aria-label="Checkbox for following text input">
        </div>
      </div>
      <label class="form-control">Permanent</label>
    </div>
  </div>


  <div class="col mt-5">
  <label>Color code</label>
  </div>
  <div class="col input-group mb-5">
  <select #colorCode id="colorCode-selector" class="custom-select">
      <option value="green">Green</option>
      <option value="yellow">Yellow</option>
      <option value="red">Red</option>
  </select>
  <div class="input-group-append">
      <button (click)="sendNotification(message.value, colorCode.value, permanent.checked, icon.value)" (click)="message.value = ''" (click)="permanent.checked = false" id="send" class="btn btn-outline-primary" type="submit">Send</button>
    </div>

  </div>

  <div *ngIf="permaNotif.length > 0">
    <hr>

    <h5>Permanent notifications</h5>
    <div class="row mt-5">
      <div class="col-1">
        <h6>Time</h6>
      </div>
      <div class="col-1">
        <h6>Color</h6>
      </div>
      <div class="col-5">
        <h6>Message</h6>
      </div>
      <div class="col-1">
        <h6>Permanent</h6>
      </div>
    </div>

    <div class="row mt-2" *ngFor="let notification of permaNotif">
      <div class="col-1">
        <p>{{returnTime(notification['created_at'])}}</p>
      </div>
      <div class="col-1">
        <p>{{notification['color']}}</p>
      </div>
      <div class="col-5">
        <p>{{notification['message']}}</p>
      </div>
      <div class="col-2">
        <p>{{notification['permanent']}}</p>
      </div>
      <div class="col-2">
        <button class="btn btn-outline-danger" (click)="deleteNotification(notification['id'])">Delete</button>
      </div>
    </div>
  </div>

  </div>
