<app-header class="yellow" back='true'></app-header>


<ng-container *ngIf="chat$ | async as chat">
  <ng-container *ngIf=" auth.user$ | async as user">

    <!-- <div class="top">
      <p><a class="tag" routerLink="/network">Back</a></p>
    </div> -->

    <article class="wrapper flex row flex-start">
      <!-- <section class="left users flex row w-30">
        <aside>
          <app-users class="rooms"></app-users>
        </aside>
      </section> -->

      <article class="flex column container">
        <div #chatBox class="chat right " id="chat">
          <div class="msg animated zoomInUp" *ngFor="let msg of chat.messages; trackBy: trackByCreated">
            <!-- My MESSAGE -->
            <div *ngIf="msg.uid === user.uid" class="flex center row right message-content">
              <article>
                <div>
                  <div><span class="tag is-dark txt-right">{{ msg.user?.displayName || msg.user?.uid }}</span></div>
                  <p>{{ msg.content }}</p>
                </div>

                <div class="user flex column">
                  <img [src]="'assets/man.svg'" width="50px">

                </div>

              </article>

              <!-- <button *ngIf="chat.uid === user.uid || msg.uid === user.uid" class="button is-danger is-small"
                (click)="cs.deleteMessage(chat, msg)">Delete</button> -->
            </div>


            <!-- OTHER MESSAGE -->
            <div *ngIf="msg.uid !== user.uid" class="flex center row left  message-content">
              <article>
                <div class="user  flex column">
                  <img [src]="'assets/man.svg'" width="50px">

                </div>
                <div>
                  <span class="tag is-dark">{{ msg.user?.displayName || msg.user?.uid }}</span>
                  <p>{{ msg.content }}</p>
                </div>

              </article>
            </div>
          </div>
        </div>


        <div class="form messagebar">
          <section class="textBar flex row emoji-picker-container">
            <input class="input form-control" [(ngModel)]="newMsg" maxlength="100" placeholder="Typ een chatbericht..."
              (keydown.enter)="submit(chat.id)" data-emojiable="true">
            <button (click)="submit(chat.id)" class="" [disabled]="!newMsg"><img src="assets/images/send.png"></button>
          </section>
        </div>
      </article>

    </article>
  </ng-container>
</ng-container>
<script>
  $(function() {
    // Initializes and creates emoji set from sprite sheet
    window.emojiPicker = new EmojiPicker({
      emojiable_selector: '[data-emojiable=true]',
      assetsPath: '../lib/img/',
      popupButtonClasses: 'fa fa-smile-o'
    });
    // Finds all elements with `emojiable_selector` and converts them to rich emoji input fields
    // You may want to delay this step if you have dynamically created input fields that appear later in the loading process
    // It can be called as many times as necessary; previously converted input fields will not be converted again
    window.emojiPicker.discover();
  });
</script>

