.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  width: 100%;
}

.chat {
  padding: 10px;
  width: 100%;
  color: #222222;
  border-radius: 5px;
  overflow: scroll;
  height: 50vh;
}

.message-content.right {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
}

.msg {
  display: flex;
  align-items: flex-start;
  margin-left: auto;
  order: 2;
  text-align: left;

  padding: 10px;
  font-size: 0.8em;
  animation-delay: 0ms;
  animation-duration: 600ms;
  border-radius: 5px;

  padding: 2em;

  .right {
    width: 100%;
    align-items: flex-end;

    article {
      display: flex;

      p {
        border-top-right-radius: 0px;
        background: #e96443;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #904e95, #e96443);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #904e95, #e96443);
      }
    }
  }

  .left {
    width: 100%;
    align-items: flex-start;

    article {
      display: flex;

      p {
        border-top-left-radius: 0px;
      }
    }
  }

  span {
    color: rgb(199, 199, 199);
    font-weight: lighter;
    font-size: 11px;

  }

  p {

    color: white;
    font-size: 15px;
    border-radius: 25px;
    padding: 0.5em 1em;
    margin: 0.3em 0;
    background-color: #222222;
  }

  .user {
    margin-right: 10px;
    min-width: 100px;

    img {
      width: 40px;
      border-radius: 50%;
      padding: 1px;
      margin: auto;
      background: grey;
    }

  }
}

.form.messagebar {
  width: 90%;
  display: flex;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 1em;

  .textBar {
    margin-top: 1em;
    width: 100%;
    margin: auto;


    input {
      width: 100%;
      margin-right: 1em;
      border-radius: 5px;
      border: none;
      font-size: 14px;
      background: rgb(238, 238, 238);
      padding: 1em 1em;
      box-shadow: 0px 3px 2px 0px #7b7b7b4d;
    }
  }
}

.top {
  position: fixed;
  top: 0;
  left: 0;
  text-align: left;
  height: 70px;
  padding: 20px 10vw;
  z-index: 99;
}




.users {
  position: relative;
  width: 30%;

  aside {
    background: white;
    height: 100vh;
    overflow: scroll;
    z-index: 1;
    display: flex;
    align-items: center;
  }
}
