<app-header class="yellow" title="Help Center"></app-header>
<app-notification [notif]=room></app-notification>
<div class="container-grid">
<div class="pagina custom-scroll">
<ol class="scrollable-content">
    <li>
        <h3 class="subtititle">Wat is de Final Show?</h3>
        <p>De Final Show is een evenement waar eindejaarsstudenten van de opleiding Multimedia & Communicatietechnologie aan de Erasmushogeschool Brussel in de spotlight worden gezet. Hier kunnen ze tonen waar ze de voorbije maanden mee bezig zijn geweest.
            Dit is ook de ideale gelegenheid om contacten te leggen tussen werkgevers en potentiële werknemers.
        </p>
    </li>
    <li>
        <h3 class="subtititle">Hoe zal de Final Show doorgaan gezien de huidige omstandigheden?</h3>
        <p>Dit jaar zal de Final Show te zien zijn via een livestream. De livestream kan je bekijken zonder een account aan te maken. Enkel wanneer je wilt chatten zullen we je vragen om snel een account aan te maken.<br><br>
            <a routerLink="/livestream">Bekijk de livestream hier.</a>
        </p>
    </li>
    <li>
        <h3 class="subtititle">Waarom hapert de livestream?</h3>
        <p>Een stabiele internetconnectie is nodig om de livestream vloeiend te kunnen bekijken. Sluit ook onnodige openstaande tabs af, dit kan uw toestel en dus de stream vertragen.
        </p>
    </li>
    <li>
        <h3 class="subtititle">Waarom moet ik mij registreren?</h3>
        <p>Voor de Timetable, FAQ en Livestream pagina heb je geen account nodig. Op de andere pagina's kan je chatten met andere mensen, waarvoor je een account nodig hebt. Zo kunnen we jouw naam tonen en berichten onthouden zodat je die niet kwijt bent wanneer je uitlogt.
        </p>
    </li>
    <li>
        <h3 class="subtititle">Wat gebeurt er met mijn gegevens die ik doorgeef?</h3>
        <p>Bij de registratie kan je kiezen om mails te ontvangen van de Erasmushogeschool Brussel na het evenement. Alleen als je hierop toestemt slaan we jouw naam en e-mailadres op. Indien niet, verwijderen we al jouw gegevens meteen na het evenement. Deze gegevens worden tijdens het evenement gebruikt om mensen gemakkelijker in contact te stellen met elkaar. Hou er dus rekening mee dat andere gebruikers jouw naam, bio, website en functie kunnen zien. Jouw e-mailadres wordt niet getoond aan anderen en wordt enkel gebruikt om in te loggen.
        </p>
    </li>
    <li>
        <h3 class="subtititle">Ik zou graag meer willen weten van een eerstejaarsstudent. Hoe kan ik als bedrijf contact maken met deze persoon?</h3>
        <p>Na het registreren kan je gemakkelijk eerstejaarsstudenten vinden bij de nominaties en de chatrooms. Loop in de chatkamer dichtbij een andere gebruiker om hun bio te zien. Studenten zullen waarschijnlijk vermelden in welk jaar ze zitten. Ook kan je een privé-chat starten om meer info te vragen zoals hun LinkedIn pagina of portfolio. Loop naar een bepaalde cluster om mee te doen aan een groepsgesprek. Hier zitten studenten van die specifieke cluster.
        </p>
    </li>
    <li>
        <h3 class="subtititle">Hoe kan ik op de hoogte blijven van zulke projecten in de toekomst?</h3>
        <p>Bij het registreren kan je toestemmen om mails van de Eramushogeschool Brussel te ontvangen na het evenement. Zo blijf je altijd op de hoogte van alles wat de Erasmushogeschool Brussel doet. Volg ons ook zeker op sociale media (<a href="https://www.facebook.com/ehb.multimediacommunicatietechnologie" target="_blank">Facebook</a>, <a href="https://www.instagram.com/multec.ehb/" target="_blank">Instagram</a>) waar we regelmatig content posten.
        </p>
    </li>
    <li>
        <h3 class="subtititle">Mijn bedrijf zou geïnteressseerd zijn om verder samen te werken de hogeschool. Wat zijn de mogelijkheden?</h3>
        <p>Meer info hierover kan je op <a href="https://www.erasmushogeschool.be/nl/samenwerken" target="_blank">onze website</a> vinden.
        </p>
    </li>
    <li>
        <h3 class="subtititle">Andere vraag of probleem?</h3>
        <p>Contacteer een moderator in <a routerLink="/network">de netwerkkamer</a>. Zij zullen je met veel plezier verder helpen. Je kan een moderator herkennen aan hun naam in het <span style="font-weight: 600;">vetjes</span>.
        </p>
    </li>
</ol>
</div>
<div id="filler">
  <img src="../../../assets/faq.gif" alt="">
</div>
</div>
