<app-header></app-header>
<div class="container-grid">


  <div class="pagina">
    <div class="scrollable-content">
      <ol>
        <li>
          <h3 class="subtititle">Wat is de final show?</h3>
          <p>De Final Show is een evenement waar de studenten van de Erasmushogeschool Brussel in de spotlight worden
            gezet. Hier kunnen ze tonen waar ze de voorbije maanden mee bezig zijn geweest.
            <br> <br>
            Dit is ook de ideale gelegenheid om contacten te leggen tussen werkgevers en potentiële werknemers. </p>
        </li>
        <li>
          <h3 class="subtititle">Hoe zal de Final Show doorgaan gezien de omstandigheden?</h3>
          <p>Dit jaar zal de Final Show te bewonderen zijn via een livestream. De stream kan je bekijken op deze website
            en hiervoor heb je geen account nodig.
            <br> <br>
            <a routerLink="/livestream">Bekijk de livestream hier.</a></p>
        </li>
        <li>
          <h3 class="subtititle">Waarom moet ik mij registreren?</h3>
          <p>Het grootste deel van deze website kan je gebruiken zonder een account aan te maken. Wanneer je echter
            privé berichten wilt sturen naar andere mensen, zal je je moeten registreren. Zo kunnen we je steeds jouw
            gespreksgeschiedenis tonen. Als student of bedrijf raden we je zeker aan om je te registreren. Zo is het
            veel gemakkelijker om contacten te leggen!</p>
        </li>
        <li>
          <h3>Andere vraag of probleem?</h3>
          <p>Contacteer een moderator in de netwerk kamer. Zij zullen u met veel plezier verder helpen.</p>
        </li>
      </ol>
    </div>
  </div>
  <div id="filler"></div>
</div>
