<ng-container *ngIf="chat$ | async as chat">

    <div class="top">
      <p><a class="tag" routerLink="">Back</a></p>
    </div>

    <article class="wrapper flex row flex-start">
      <section class="left users flex row w-30">
        <aside>
          <app-users class="rooms"></app-users>
        </aside>
      </section>

      <article class="flex column  w-50">
        <div #chatBox class="chat right " id="chat"  (scroll)='onScroll()'>
          <div class="msg animated zoomInUp" *ngFor="let msg of chat.messages; trackBy: trackByCreated">



            <div  class="flex center row left  message-content">
              <article>
              <div class="user  flex column">
                <img [src]="'assets/man.svg'" width="50px">

              </div>
              <div>
                <span class="tag is-dark">{{ msg.user?.displayName || msg.user?.uid }}</span>
                <p [ngClass]="{'msg-deleted': msg.deleted}">{{ msg.content }}</p>
              </div>

                </article>
            </div>
          </div>
        </div>


        <div class="form">
          <section class="textBar flex row">
            <input class="input" [(ngModel)]="newMsg" maxlength="100" placeholder="Typ een chatbericht..." (keydown.enter)="submit(chat.id)">
            <button (click)="submit(chat.id)" class="button is-info" [disabled]="!newMsg">Send</button>
          </section>
        </div>
      </article>

    </article>
  </ng-container>

