@import '~src/styles.scss';


.pagina {
    //height: 100vh;
    box-sizing: border-box;
    
        label {
          margin-bottom: 1em;
          font-size: 0.7em;
        }
    
        h2 {
          text-align: left;
        }
    
        textarea {
          margin-bottom: 1em;
        }
    .input-form {
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
        text-align: left;
    }

    .slider-wrapper{
        width:  100%;
        overflow: scroll;
        margin: auto;
        -ms-overflow-style: none; // Ie & edge
        scrollbar-width: none; // fire-fox
      }
      .slider-wrapper::-webkit-scrollbar { // chrome, safari & opera
        display: none;
      }
      #characters {
        width: 500% !important;
        display: flex;
        flex-direction: row;
        .slide-content {
            display: flex;
            input {
              &:checked+label {
                background-color: $pink;
                opacity: 1;
              }
      
              &:hover+label {
      
                opacity: 1;
              }
            }
      
            label {
              opacity: 0.5;
              border-radius: 3px;
              margin-top: 1em;
              display: flex;
              align-items: center;
              justify-content: center;
            }
        }
      }
      button.active {
        border: 1px solid $pink
      }
      
      button {
        width: 100%;
        min-width: 200px;
        padding: 1em 2em;
        margin-bottom: 1em;
        text-align: center !important;
        background-color: #fcfcfc;
        border-radius: 2px;
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.18);
        cursor: pointer;
        cursor: hand;
        align-self: center;
        transition: all 400ms ease 0s;
        border: none;
      }
      .button:hover {
        box-shadow: 0 3px 8px rgba(117, 117, 117, .5);
        user-select: none
      }
      
      .button:active {
        box-shadow: 0 1px 1px #757575;
        background: #F8F8F8;
        color: #fff;
        user-select: none
      }
}

@media only screen and (max-width: 768px) {
    .pagina{
    width: 90%;
    margin: 80px auto 0 auto;
    }
    .slide-content{
      width: 150px;
      margin-left: 1em;
      label{
        padding: 0;
      }
    }

}

@media only screen and (min-width: 769px) {
  .slide-content{
    width: 3.5%;
  }
  .container-grid{
    background-color: rgba(243, 193, 193, 0.4);
  }
    .pagina{
        grid-column: 3 / span 8;
        grid-row: 4/ span 3;
        overflow-y: scroll;
        -ms-overflow-style: none;
        max-height: 100%;
        box-shadow: 0px 3px 6px rgba(0,0,0,0.09);
        padding: 1em;
        direction: rtl;
        background-color: $white;
    }
    .profilecontainer{
      direction: ltr;
    }
    .pagina::-webkit-scrollbar{
        display:none;
    }
    .pagina::-webkit-scrollbar {
      display: block;
      width: 5px;
    }

    .pagina::-webkit-scrollbar-track {
      background: transparent;
    }

    .pagina::-webkit-scrollbar-thumb {
      background-color: $pink;
    }

    .pagina::-webkit-scrollbar-track-piece:end {
      margin-bottom: 10%;
    }

    .pagina::-webkit-scrollbar-track-piece:start {
      margin-top: 10%;
    }
}

#profileData {
    display: block;
}
.input-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  text-align: left;

  label {
    margin-bottom: 1em;
    font-size: 0.7em;
  }

  h2 {
    text-align: left;
  }

  textarea {
    margin-bottom: 1em;
  }

  input,
  textarea,
  select {
    box-sizing: border-box;
    border: none;
    width: 100%;
    padding: 1em;
    border-radius: 0px;
    border: 1px solid #DBDBDB;

    &:focus {
      border-color: $pink;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
    }
  }
  .carousselMannekes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
      div{ //arrows
        width: 35px;
      }
      #right{
        transform: rotate(180deg);
      }
  }

}
