#background {
  background-color: #4fcdc572;
  width: 100vw;
  height: 100vh
}


#canvas {
  width: 99vw;
  height: 99vh;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

img {
  position: absolute;
  width: 400px;
  top: 0%;
  left: 5%;
  transform: skew(0deg, 6deg);

}

#logotext {
  position: absolute;
  z-index: 3;
  top: 30%;
  left: 5%;

  h2 {
    font-size: 6em;
    cursor: default;
  }

  p {
    font-size: 1.5em;
    line-height: 0;
  }
}


#loadbarcontainer {
  height: 50px;
  position: absolute;
  width: 20%;
  left: 40%;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h3 {
    align-self: center;
  }
}



#loadbar {
  height: 5%;
  padding: 0.2em;
  justify-self: center;
  width: 0%;
  background-color: black
}

#animationsOn {
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 60px;
  border-radius: 2em;
  padding: 0.2em;
  background-color: rgb(214, 83, 83);
  text-align: center;
  color: white;
  box-shadow: 1px 1px 40px rgb(214, 83, 83);
  cursor: pointer;
}

.playanimation {
  background-color: rgb(81, 169, 81) !important;
  box-shadow: 1px 1px 30px rgb(158, 211, 162) !important;
}
