<div class="wrapper container-grid" id="wrapper">
  <app-header title='Programma'></app-header>
  <ul #timetableHtmlList (scroll)="showEvent()">
    <li #eventListItems *ngFor='let event of timetable' class="timetable-list-item">
      <span class="time-text">{{displayTime(event["time"]) }}</span>
      <div class="event-div event-mobile">
        <a [routerLink]="'/timetable/' + event['name']">
          <h3 class="title">{{event["name"]}}</h3>
          <div class="red-arrow"><img src="../../../assets/images/arrow-white.svg"></div>
        </a>
        <!-- <p class="info-text">{{event["desc"]}}</p> -->
      </div>
      <div id="{{event['name']}}" class="event-div event-desktop">
        <h3 class="title">{{event["name"]}}</h3>
      </div>

    </li>
  </ul>
  <div class="event-detail">
    <app-desktopevent [timeTable]="timetable"></app-desktopevent>
  </div>
</div>
