.inbox-container{
  background-color: white;
  min-width: 200px;
}
.inbox-container .conversation{
padding: 1em 1em;
box-sizing: border-box;
}.inbox-container img{
width: 30px
}

.conversations{
  background-color: #F0F0F0;
}

.conversation:hover{
  cursor: pointer;
  background-color: #dbdbdb;
}
