// @use "sass:map";
// $colors: (
//     "red" : #FF6B6B,
//     "blue" : #7FC6CB,
//     "yellow" : #F9D48A,
//     "black" : #000,
//     "white" : #fff
// );

@use './app/css/var';
@use './app/css/base';
// @use './app/css/emoji';


$red : #FF6B6B;
$pink: #f3c1c1;
$blue : #4FCDC4;
$yellow : #F9D48A;
$green: #95D17B ;
$black : #000;
$white : #fff;

* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: #000;
    font-weight: 300;
}

ul {
    list-style: none;
}

.message-content{
  position: relative;
}

.button {
  background-color: $white;
  border: none;
  max-width: 500px;
  // border-left: 4px solid $white;
  color: $black !important;
  padding: 1em 1em;
  text-transform: uppercase;
width: 80%;
font-size: 15px;
  z-index: 0;
  text-align: center;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
  margin-top: 20px;
}

.deleteDots{
  height: 15px;
  opacity: 0.3;
  align-self: center;
  margin-left: 20px;
  margin-top: 20px;
}

.deleteWindow{
  position: absolute;
  padding: 10px 20px;
  right: 0;
  background-color: #000000af;
  display: flex;
  border-radius: 5px;
  top: 50%;
  transform: translateY(-100%);
}

.deleteWindow:hover{
  background-color: #00000094;
}

#deleteText{
  color: white;
  margin-left: 10px;
}

.deleteWindow:hover{
  cursor: pointer;
}

.deleteWindow img{
  filter: invert(100%) sepia(0%) saturate(7483%) hue-rotate(219deg) brightness(110%) contrast(103%);
  height: 15px;
}

.deleteDots:hover{
  cursor: pointer;
}

.holdable{
  -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.mobileDeleteWindow{
  position: fixed;
  height: 100px;
  width: 100vw;
  background-color: #F0F0F0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mobileDelete, .mobileCancel{
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.line{
  height: 30%;
  width: 2px;
  background-color: rgb(122, 122, 122);
}

.mobileDeleteWindow img{
  height: 25px;
}

.mobileDeleteWindow img, .mobileDeleteWindow p{
  margin: 5px 0;
}

a {
    color: $blue
}

canvas{
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: block;
}

// a:visited {
//     color: $red
// }

// a:hover{
//     color: $yellow;
// }

h1 {
    font-weight: 700;
}

h2, h3, h4, h5, h6 {
    font-weight: 500;
}

.page-title {
  display: inline-table;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 5%;
}

.title {
    font-weight: 300;
    font-size: 16px;
    line-height: 40px;
}

.subtititle {
    font-weight: normal;
    font-size: 16px;
}

.text {
    font-weight: lighter;
    font-size: 13px;
}

.text-right{
  text-align: right;
}

.seen{
  opacity: 0.2;
  height: 20px;
  float: right;
  display: none;
}

.seen-show{
  display: block;
}

.delete:hover, .header img:hover, .profile:hover{
  cursor: pointer;
}

.exit, .profile{
  align-self: center;
}

.pointer:hover{
  cursor: pointer;
}

.registerImage{
  grid-column: 2/span 5;
  grid-row: 4/span 3;
}

.registerImage img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.4);
}

.group-icon img{
  max-height: 100%;
}

// Andres css
.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}.flex-start {
  justify-content: flex-start;
}

.flex-start {
  justify-content: flex-start;
}
.txt-right{
  text-align: right;
}
.align-center {
  align-items: center;
}

.txt-light{
  color: rgb(167, 167, 167);
  margin-top: 0.5em;
}.w-100{
  width: 100%;
}
.w-50{
  width: 50%;
}
.w-33{
  width: 33%;
}

@media only screen and (max-width: 768px) {
.container {
  text-align: center;
  width:90%;
  max-width: 1200px;
  margin: auto;
}
app-notification{
  width: 100vw;
  height: 60px;
  position: fixed;
  top: 60px;
  z-index: 9;
}
}

// desktop specific css

@media only screen and (min-width: 769px) {
  body{
    overflow-x: hidden;
  }
  .container-grid{
    display: grid;
    min-height: 100vh;
    max-height: 100vh;
    grid-template-columns: repeat(12, 7.41%);
    grid-template-rows: 60px 60px 20px minmax(0, 1fr) minmax(0,1fr) minmax(0, 1fr) 80px;
    column-gap: 1%;
    row-gap: 0;
  }
  // styles notifications

app-notification{
  grid-column: 1 / span 12;
  grid-row: 2/ span 1;
}

}

.go-to-profile:hover{
  cursor: pointer;
  opacity: 0.5;
}


.go-to-profile-black:hover{
  cursor: pointer;
  color: black !important;
  opacity: 1;
  text-decoration: underline;
}
