// @use "sass:map";
// $colors: (
//     "red" : #FF6B6B,
//     "blue" : #7FC6CB,
//     "yellow" : #F9D48A,
//     "black" : #000,
//     "white" : #fff
// );

@use './app/css/var';
@use './app/css/base';
// @use './app/css/emoji';


$red : #FF6B6B;
$blue : #4FCDC4;
$yellow : #F9D48A;
$green: #95D17B ;
$black : #000;
$white : #fff;

* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: #000;
    font-weight: 300;
}

ul {
    list-style: none;
}


.button {
  background-color: $white;
  border: none;
  max-width: 500px;
  // border-left: 4px solid $white;
  color: $black !important;
  padding: 1em 1em;
  text-transform: uppercase;
width: 80%;
font-size: 15px;
  z-index: 0;
  text-align: center;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
  margin-top: 20px;
}

a {
    color: $blue
}

// a:visited {
//     color: $red
// }

// a:hover{
//     color: $yellow;
// }

h1 {
    font-weight: 700;
}

h2, h3, h4, h5, h6 {
    font-weight: 500;
}

.page-title {
  display: inline-table;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 5%;
}

.title {
    font-weight: 300;
    font-size: 16px;
    line-height: 40px;
}

.subtititle {
    font-weight: normal;
    font-size: 16px;
}

.text {
    font-weight: lighter;
    font-size: 13px;
}

.text-right{
  text-align: right;
}

.seen{
  opacity: 0.2;
  height: 20px;
  float: right;
  display: none;
}

.seen-show{
  display: block;
}

.delete:hover, .header img:hover, .profile:hover{
  cursor: pointer;
}

.exit, .profile{
  align-self: center;
}

// Andres css
.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}.flex-start {
  justify-content: flex-start;
}

.flex-start {
  justify-content: flex-start;
}
.txt-right{
  text-align: right;
}
.align-center {
  align-items: center;
}

.txt-light{
  color: rgb(167, 167, 167);
  margin-top: 0.5em;
}.w-100{
  width: 100%;
}
.w-50{
  width: 50%;
}
.w-33{
  width: 33%;
}

@media only screen and (max-width: 768px) {
.container {
  text-align: center;
  width:90%;
  max-width: 1200px;
  margin: auto;
}
}

// desktop specific css

@media only screen and (min-width: 769px) {
  body{
    overflow-x: hidden;
  }
  .container-grid{
    display: grid;
    min-height: 100vh;
    max-height: 100vh;
    grid-template-columns: 5% repeat(10, 7.89%) 5%;
    grid-template-rows: 60px 60px 20px minmax(0, 1fr) minmax(0,1fr) minmax(0, 1fr) 80px;
    column-gap: 1%;
    row-gap: 0;
  }

}

