h1 {
    padding: 20px;
    margin: auto;
    text-align: center;
}

h2 {
    text-align: center;
}

#titleCard {
    margin-left: 40vw;
}

.rooms {
    width: 200px;
    margin: auto;
}

.rooms button:nth-of-type(2) {
    float: right;
}