@import '~src/styles.scss';

h1 {
  padding: 20px;
  margin: auto;
  text-align: center;
}

h2 {
  text-align: center;
}

#mobile {
  background-color: $blue;
  width: 100vw;
  min-height: 100vh;
  background-attachment: fixed;
  scroll-snap-type: y mandatory;
  overflow-y: hidden;


  #mobileSplashScreen {
    margin-bottom: 50vh;

    #titleCard {
        width: 90vw;
        display: block;
        margin: auto;
      }
  }

  .fullscreen {
    height: 100vh;
    padding: 50% 0%;
    width: 100vw;
    display: block;
    box-sizing: border-box;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    text-align: center;
  }


  #rooms {
      img {
          margin: auto;
      }

     overflow-y: scroll;
     white-space: nowrap;
     scroll-snap-type: x mandatory;

      .room {
          display: inline-block;
          width: 100vw;
          scroll-snap-align: center;

          img {
              height: 200px;
              display: block;
          }
      }
  }

  #campus {
    overflow: hidden;

    img {
      margin-left: -25vw;
    }

  }
}
