<ng-container *ngIf="chat$ | async as chat">
<div class="container ">
    <div class="messages" id="livechat-container" #scrollframe>
    <article class="wrapper flex row flex-start">
      <!-- <section class="left users flex row w-30">
        <aside>
          <app-users class="rooms"></app-users>
        </aside>
      </!-->

      <article class="">
        <div #chatBox class="chat right " id="chat" >
          <div id="livechat-scroll" class="msg animated zoomInUp" *ngFor="let msg of chat.messages; trackBy: trackByCreated">
            <article *ngIf="msg.hand !== true;" class="text-msg">
                  <p>
                  <span class="tag is-dark msg-user {{ msg.user?.function}}">{{ msg.user?.displayName || msg.user?.uid }}  </span>
                  {{ msg.content }}
                  </p>
            </article>
               <div *ngIf="msg.hand === true;" class="hand text-msg">
                 <article>
                      <p>
                       <span
                         class="tag is-dark msg-user {{ msg.user?.function}}">{{ msg.user?.displayName || msg.user?.uid }}</span>
                     👏</p>
                 </article>
               </div>
          </div>
        </div>
      </article>

    </article>
    </div>
    <div class="userinput">
      <div class="clap">
        <img src="assets/images/theclap.svg" alt="" (click)="submitHand(chat.id)">
      </div>
      <div class="message" *ngIf="auth.user$ | async; else login">
        <input type="text" (keydown.enter)="submit(chat.id)"
          placeholder="Type your message.." [(ngModel)]="newMsg">
      </div>
     <ng-template #login>
       <div class="message" [routerLink]="['/login', 'livestream']">
         <input type="text" placeholder="Type your message.." >
       </div>
     </ng-template>
      <button class="send" [disabled]='!newMsg'>
        <img src="assets/images/send.svg" (click)="submit(chat.id)"  alt="">
      </button>
    </div>


</div>
<script>

  </script>
</ng-container>

