#register{
  width: 800px;
  text-align: left;
.input-form{
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  label{
    margin-bottom: 0.5em;
  }
  input{
    padding: 1em;
    border-radius: 0px;
    border: none;
border-bottom: 1px solid grey;
  }
  button {
    background: #e96443;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #904e95, #e96443);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #904e95, #e96443);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 28px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    width: 200px;
    padding: 12px 31px;
    text-decoration: none;
    border: none;
    margin: 1em 0;
  }

}
span.or{
  margin: 0em 0;
  margin-bottom: 2em;
  display: block;
  display: flex;
  align-self: center;
}
.google-btn {
  width: 40%;
  min-width:200px;

  height: 42px;
  background-color: #fcfcfc;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .2);
  cursor: pointer;
  cursor: hand;
  align-self: center;
  user-select: none;
  transition: all 400ms ease 0s;
  display: flex;
}

.google-btn .google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  user-select: none
}
.google-btn .google-icon-svg {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
  user-select: none
}
.google-btn .btn-text {
  float: right;
  margin: 11px 14px 40px 40px;
  color: #757575;
  font-size: 14px;
  letter-spacing: .2px;
  font-family: Roboto;
  user-select: none
}
.google-btn:hover {
  box-shadow: 0 3px 8px rgba(117, 117, 117, .5);
  user-select: none
}
.google-btn:active {
  box-shadow: 0 1px 1px #757575;
  background: #F8F8F8;
  color: #fff;
  user-select: none
}
.google{
  background-color: grey;
  padding: 2em;
  border-radius: 5px;
}

}
